<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="layout/header.html :: site_header"></th:block>
</head>
<body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo">
	<th:block th:include="layout/header.html :: page_header"></th:block>

	<div class="page-container">
		<th:block th:include="layout/menu.html :: site_menu"></th:block>
		<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">
			<!-- BEGIN CONTENT BODY -->
			<div class="page-content">
				<div th:replace="layout/content.html :: content_header"></div>
				<div class="portlet light portlet-fit bordered">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-user font-green"></i>
							<span class="caption-subject bold font-green"
								th:text="#{news.title}"> </span>
							<div class="caption-desc font-grey-cascade"
								th:text="#{news.description}">  
							</div>
						</div>
					</div>
					<div class="portlet-body">
					<span class="caption-subject bold font-green"
								th:text="#{news.description} ?: 'This is locale'"> </span>
					<table class="table table-bordered table-striped table-condensed flip-content">
						<thead class="flip-content">
							<tr>
								<th class="text-center" th:text="#{header.id}"></th>
								<th th:text="#{header.title}"></th>
<!-- 								<th class="text-center" th:text="#{header.creator}"></th> -->
								<th class="text-center" th:text="#{header.createdAt}"></th>
								<th class="text-center" th:text="#{header.updatedAt}"></th>
								<th class="text-center" th:text="#{header.action}"></th>
							</tr>
						</thead>
						<tbody>
						<th:block th:each="news : ${newsList}">
						    <tr>
						        <td class="text-center" th:text="${news.id}"></td>
						        <td th:text="${news.title}"></td>
<!-- 						        <td class="text-center" th:text="${news.createdBy.name}"></td> -->
						        <td class="text-center" th:text="${news.createdAt}"></td>
						        <td class="text-center" th:text="${news.updatedAt}"></td>
								<td class="text-center">
									<a th:href="@{'/admin/news/{id}/edit'(id=${news.id})}">
										<i class="fa fa-pencil-square-o" th:title="#{button.update}"></i>
									</a>
									<a>
										<i class="fa fa-trash-o" th:attr="data-id=${news.id}" th:title="#{button.delete}"></i>
									</a>
								</td>
						    </tr>
						</th:block>
						</tbody>
					</table>
					</div>
				</div>
			</div>
			<!-- END CONTENT BODY -->
		</div>
		<!-- END CONTENT -->
	</div>
	<th:block th:replace="layout/footer.html :: footer"></th:block>
</body>
</html>