<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="layout/header.html :: site_header"></th:block>
</head>
<body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo">
	<th:block th:include="layout/header.html :: page_header"></th:block>

	<div class="page-container">
		<th:block th:include="layout/menu.html :: site_menu"></th:block>
		<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">
			<!-- BEGIN CONTENT BODY -->
			<div class="page-content">
				<div th:replace="layout/content.html :: content_header"></div>
				<div class="portlet light portlet-fit bordered">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-user font-green"></i>
							<span class="caption-subject bold font-green"
								th:text="${TITLE} ?: 'Page Title'"> </span>
							<div class="caption-desc font-grey-cascade"
								th:text="${DESCRIPTION} ?: 'Page Description'">  
							</div>
						</div>
					</div>
					<div class="portlet-body">
					<table class="table table-bordered table-striped table-condensed flip-content">
						<thead class="flip-content">
							<tr>
								<th>ID</th>
								<th>Baslik</th>
								<th>Ekleyen</th>
								<th>Olusturulma Tarihi</th>
								<th>Guncellenme Tarihi</th>
							</tr>
						</thead>
						<tbody>
						<th:block th:each="news : ${newsList}">
						    <tr>
						        <td th:text="${news.id}"></td>
						        <td th:text="${news.title}"></td>
						        <td th:text="${news.createdBy.name}"></td>
						        <td th:text="${news.createdAt}"></td>
						        <td th:text="${news.updatedAt}"></td>
						    </tr>
						</th:block>
						</tbody>
					</table>
					</div>
				</div>
			</div>
			<!-- END CONTENT BODY -->
		</div>
		<!-- END CONTENT -->
	</div>
	<th:block th:replace="layout/footer.html :: footer"></th:block>
</body>
</html>